.tb_filter_square_wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.tb_filter_square_list{
    padding: 6px;
    position: relative;
}

.tb_filter_square_button {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    font-size: 20px;
    border: 1px solid #34495e;
    text-decoration: none;
    line-height: 38px;
    text-align: center;
    background-color: #fff;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    cursor: pointer;
    position: relative;
    z-index: 2;
    padding: 0 30px;
    width: auto;
    border-radius: 2px;
    padding: 0 3px;
    width: 42px;
    height: 38px;
}

.tb_filter_square_ico{
    line-height: 38px;
    font-size: 20px;
    color: #34495e;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.tb_filter_square_button.tb_filter_active, 
.tb_filter_square_button:hover, 
.tb_filter_square_button:focus{
    background-color: #34495e;
    color: #fff;
}

.tb_filter_square_button.tb_filter_active .tb_filter_square_ico, 
.tb_filter_square_button:hover .tb_filter_square_ico, 
.tb_filter_square_button:focus .tb_filter_square_ico{
    color: #fff;
}

.tb_filter_square_button.tb-network-ico-users{
    color: #ff4051;
    border-color: #ff4051;
}

.tb_filter_square_button.tb-network-ico-users:hover, 
.tb_filter_square_button.tb-network-ico-users:focus, 
.tb_filter_square_button.tb-network-ico-users:active,
.tb_filter_square_button.tb-network-ico-users.tb_filter_active{
    background-color: #ff4051;
}

.tb_filter_square_button.tb-network-ico-twitter{
    color: #29a9e1;
    border-color: #29a9e1;
}

.tb_filter_square_button.tb-network-ico-twitter:hover, 
.tb_filter_square_button.tb-network-ico-twitter:focus, 
.tb_filter_square_button.tb-network-ico-twitter:active,
.tb_filter_square_button.tb-network-ico-twitter.tb_filter_active{
    background-color: #29a9e1;
}

.tb_filter_square_button.tb-network-ico-instagram{
    color: #E2306C;
    border-color: #E2306C;
}

.tb_filter_square_button.tb-network-ico-instagram:hover, 
.tb_filter_square_button.tb-network-ico-instagram:focus, 
.tb_filter_square_button.tb-network-ico-instagram:active,
.tb_filter_square_button.tb-network-ico-instagram.tb_filter_active{
    background-color: #E2306C;
}

.tb_filter_square_button.tb-network-ico-facebook{
    color: #1b74e4;
    border-color: #1b74e4;
}

.tb_filter_square_button.tb-network-ico-facebook:hover, 
.tb_filter_square_button.tb-network-ico-facebook:focus, 
.tb_filter_square_button.tb-network-ico-facebook:active,
.tb_filter_square_button.tb-network-ico-facebook.tb_filter_active{
    background-color: #1b74e4;
}

.tb_filter_square_button.tb-network-ico-google{
    color: #4081ED;
    border-color: #4081ED;
}

.tb_filter_square_button.tb-network-ico-google:hover, 
.tb_filter_square_button.tb-network-ico-google:focus, 
.tb_filter_square_button.tb-network-ico-google:active,
.tb_filter_square_button.tb-network-ico-google.tb_filter_active{
    background-color: #4081ED;
}

.tb_filter_square_button.tb-network-ico-google:hover .tb_color_icon__:before, 
.tb_filter_square_button.tb-network-ico-google:focus .tb_color_icon__:before, 
.tb_filter_square_button.tb-network-ico-google:active .tb_color_icon__:before,
.tb_filter_square_button.tb-network-ico-google.tb_filter_active .tb_color_icon__:before{
    color: #fff;
}


.tb_filter_square_button.tb-network-ico-tiktok{
    color: #000;
    border-color: #000;
}

.tb_filter_square_button.tb-network-ico-tiktok:hover, 
.tb_filter_square_button.tb-network-ico-tiktok:focus, 
.tb_filter_square_button.tb-network-ico-tiktok:active,
.tb_filter_square_button.tb-network-ico-tiktok.tb_filter_active{
    background-color: #000;
}

.tb_filter_square_button.tb-network-ico-linkedin{
    color: #0a66c2;
    border-color: #0a66c2;
}

.tb_filter_square_button.tb-network-ico-linkedin:hover, 
.tb_filter_square_button.tb-network-ico-linkedin:focus, 
.tb_filter_square_button.tb-network-ico-linkedin:active,
.tb_filter_square_button.tb-network-ico-linkedin.tb_filter_active{
    background-color: #0a66c2;
}

.tb_filter_square_button.tb-network-ico-rss{
    color: #f78422;
    border-color: #f78422;
}

.tb_filter_square_button.tb-network-ico-rss:hover, 
.tb_filter_square_button.tb-network-ico-rss:focus, 
.tb_filter_square_button.tb-network-ico-rss:active,
.tb_filter_square_button.tb-network-ico-rss.tb_filter_active{
    background-color: #f78422;
}

.tb_filter_square_button.tb-network-ico-youtube{
    color: #FF0000;
    border-color: #FF0000;
}

.tb_filter_square_button.tb-network-ico-youtube:hover, 
.tb_filter_square_button.tb-network-ico-youtube:focus, 
.tb_filter_square_button.tb-network-ico-youtube:active,
.tb_filter_square_button.tb-network-ico-youtube.tb_filter_active{
    background-color: #FF0000;
}

.tb_filter_square_button.tb-network-ico-youtube:hover .tb_color_youtube_1:before, 
.tb_filter_square_button.tb-network-ico-youtube:focus .tb_color_youtube_1:before, 
.tb_filter_square_button.tb-network-ico-youtube:active .tb_color_youtube_1:before{
    color: #fff;
}
.tb_filter_square_button.tb-network-ico-youtube:hover .tb_color_youtube_2:before, 
.tb_filter_square_button.tb-network-ico-youtube:focus .tb_color_youtube_2:before, 
.tb_filter_square_button.tb-network-ico-youtube:active .tb_color_youtube_2:before{
    color: #FF0000;
}

.tb_filter_square_button.tb-network-ico-vimeo-square{
    color: #1eb8eb;
    border-color: #1eb8eb;
}

.tb_filter_square_button.tb-network-ico-vimeo-square:hover, 
.tb_filter_square_button.tb-network-ico-vimeo-square:focus, 
.tb_filter_square_button.tb-network-ico-vimeo-square:active,
.tb_filter_square_button.tb-network-ico-vimeo-square.tb_filter_active{
    background-color: #1eb8eb;
}

.tb_filter_square_button.tb-network-ico-onsite-upload{
    color: #613983;
    border-color: #613983;
}

.tb_filter_square_button.tb-network-ico-onsite-upload:hover, 
.tb_filter_square_button.tb-network-ico-onsite-upload:focus, 
.tb_filter_square_button.tb-network-ico-onsite-upload:active,
.tb_filter_square_button.tb-network-ico-onsite-upload.tb_filter_active{
    background-color: #613983;
}

.tb_filter_square_button.tb-network-ico-workplace{
    color: #4767AB;
    border-color: #4767AB;
}

.tb_filter_square_button.tb-network-ico-workplace:hover, 
.tb_filter_square_button.tb-network-ico-workplace:focus, 
.tb_filter_square_button.tb-network-ico-workplace:active,
.tb_filter_square_button.tb-network-ico-workplace.tb_filter_active{
    background-color: #4767AB;
}

.tb_filter_square_button.tb-network-ico-tumblr{
    color: #36465d;
    border-color: #36465d;
}

.tb_filter_square_button.tb-network-ico-tumblr:hover, 
.tb_filter_square_button.tb-network-ico-tumblr:focus, 
.tb_filter_square_button.tb-network-ico-tumblr:active,
.tb_filter_square_button.tb-network-ico-tumblr.tb_filter_active{
    background-color: #36465d;
}

.tb_filter_square_button.tb-network-ico-pinterest{
    color: #E60022;
    border-color: #E60022;
}

.tb_filter_square_button.tb-network-ico-pinterest:hover, 
.tb_filter_square_button.tb-network-ico-pinterest:focus, 
.tb_filter_square_button.tb-network-ico-pinterest:active,
.tb_filter_square_button.tb-network-ico-pinterest.tb_filter_active{
    background-color: #E60022;
}

.tb_filter_square_button.tb-network-ico-flickr{
    color: #006ADD;
    border-color: #006ADD;
}

.tb_filter_square_button.tb-network-ico-flickr:hover, 
.tb_filter_square_button.tb-network-ico-flickr:focus, 
.tb_filter_square_button.tb-network-ico-flickr:active,
.tb_filter_square_button.tb-network-ico-flickr.tb_filter_active{
    background-color: #006ADD;
}

.tb_filter_square_button.tb-network-ico-yelp{
    color: #be362e;
    border-color: #be362e;
}

.tb_filter_square_button.tb-network-ico-yelp:hover, 
.tb_filter_square_button.tb-network-ico-yelp:focus, 
.tb_filter_square_button.tb-network-ico-yelp:active,
.tb_filter_square_button.tb-network-ico-yelp.tb_filter_active{
    background-color: #be362e;
}

.tb_filter_square_button.tb-network-ico-yammer{
    border-color: #0078D4;
    color: #0078D4;
}

.tb_filter_square_button.tb-network-ico-yammer:hover, 
.tb_filter_square_button.tb-network-ico-yammer:focus, 
.tb_filter_square_button.tb-network-ico-yammer:active,
.tb_filter_square_button.tb-network-ico-yammer.tb_filter_active{
    background-color: #0078D4;
}

.tb_filter_square_button.tb-network-ico-slack{
    border-color: #510d4e;
    color: #510d4e;
}

.tb_filter_square_button.tb-network-ico-slack:hover, 
.tb_filter_square_button.tb-network-ico-slack:focus, 
.tb_filter_square_button.tb-network-ico-slack:active,
.tb_filter_square_button.tb-network-ico-slack.tb_filter_active{
    background-color: #510d4e;
}

.tb_filter_square_button.tb-network-ico-airbnb{
    color: #ff385c;
    border-color: #ff385c;
}

.tb_filter_square_button.tb-network-ico-airbnb:hover, 
.tb_filter_square_button.tb-network-ico-airbnb:focus, 
.tb_filter_square_button.tb-network-ico-airbnb:active,
.tb_filter_square_button.tb-network-ico-airbnb.tb_filter_active{
    background-color: #ff385c;
}

.tb_filter_square_button.tb-network-ico-soundcloud{
    color: #FC5502;
    border-color: #FC5502;
}

.tb_filter_square_button.tb-network-ico-soundcloud:hover, 
.tb_filter_square_button.tb-network-ico-soundcloud:focus, 
.tb_filter_square_button.tb-network-ico-soundcloud:active,
.tb_filter_square_button.tb-network-ico-soundcloud.tb_filter_active{
    background-color: #FC5502;
}

.tb_filter_square_button.tb-network-ico-giphy{
    color: #000000;
    border-color: #000000;
}

.tb_filter_square_button.tb-network-ico-giphy:hover, 
.tb_filter_square_button.tb-network-ico-giphy:focus, 
.tb_filter_square_button.tb-network-ico-giphy:active,
.tb_filter_square_button.tb-network-ico-giphy.tb_filter_active{
    background-color: #000000;
}

.tb_filter_square_button.tb-network-ico-vk{
    color: #0077ff;
    border-color: #0077ff;
}

.tb_filter_square_button.tb-network-ico-vk:hover, 
.tb_filter_square_button.tb-network-ico-vk:focus, 
.tb_filter_square_button.tb-network-ico-vk:active,
.tb_filter_square_button.tb-network-ico-vk.tb_filter_active{
    background-color: #0077ff;
}

.tb_filter_square_ico{
    color: inherit;
}

.tb_filter_square_button:hover .tb_filter_square_ico, 
.tb_filter_square_button:focus .tb_filter_square_ico, 
.tb_filter_square_button:active .tb_filter_square_ico,
.tb_filter_square_button.tb_filter_active .tb_filter_square_ico{
    color: #fff;
}

  