.tb_author_avatar__{
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    display: flex;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}