.tb_share_post_modal *,
.tb_share_post_modal *::before,
.tb_share_post_modal *::after {
  box-sizing: border-box;
}

.tb_share_post_modal{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #262626;
}

.tb_share_post {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 99;
}

.tb_share_post_icon {
    cursor: pointer;
    height: 25px;
    width: 25px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tb_share_post_icon svg {
    width: 16px;
    filter: drop-shadow(0px 1px 1px #545454);
    height: 22px;
}
.tb_share_post_modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 9999999999999;
    visibility: hidden;
    opacity: 1;
    line-height: 1.5;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0.3s ease-out 0s;
    font-family: 'Inter', sans-serif;
} 

.tb_share_post_container {
    transition: transform 0.3s ease-out;
    min-height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 30px 15px;
    max-width: 600px;
    margin: 0rem auto;
    opacity: 0;
    visibility: hidden;
    transition-property: transform,opacity;
    transition-duration: .2s;
    transition-timing-function: ease-in;
    transition: all ease .3s;
    -moz-transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    transform: scale(0.8);
}

.tb_share_post_modal.tb_modal_show {
    opacity: 1;
    visibility: visible;
}

.tb_modal_show .tb_share_post_container{
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.tb_share_post_body{
    background-color: #fff;
    width: 100%;
    position: relative;
    padding: 60px 40px;
    border-radius: 4px;
}

.tb_share_post_close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.tb_share_close_ico{
    opacity: .5;
    transition: opacity .3s ease-in;
}
.tb_share_post_close:hover .tb_share_close_ico{
    opacity: .8;
}
.tb_share_post__ {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    margin-top: 10px;
}
.tb_share_post_img {
    height: 100px;
    width: 100px;
    object-fit: contain;
    object-position: center;
    margin: 0 auto;
}
.tb_share_post_title {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin: 15px 0;
}
.tb_share_post_form_group {
    margin-bottom: 15px;
}

.tb_share_post_label {
    font-size: 14px;
    font-weight: 600;
    color: #545454;
    margin-bottom: 5px;
}

.tb_share_post_form {
    padding-top: 40px;
}

.tb_share_post_input {
    font-family: 'Inter', sans-serif;
    display: block;
    width: 100%;
    height: calc(1.3em + 1.3rem + 2px);
    padding: 0.65rem 1rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #545454;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #E4E6EF;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.tb_share_post_input:focus{
    border: 1px solid #434343;
}

.tb_share_post_textarea {
    min-height: 70px;
}

.tb_share_post_error_ {
    color: #db4b20;
    font-size: 12px;
    font-weight: 500;
}

.tb_share_post_required {
    display: inline;
    color: #db4b20;
    font-size: inherit;
}
.tb_share_post_p {
    font-size: 13px;
    text-align: center;
    display: block;
    color: #545454;
    line-height: 1.6;
    max-width: 440px;
    margin: 0 auto;
}

.tb_share_post_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.tb_share_post_submit, .tb_share_post_cancel {
    display: inline-block;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #2b2b2b;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    min-width: 110px;
    margin: 0 12px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}
.tb_share_post_cancel{
    color: #3F4254;
    background-color: transparent;
}
.tb_share_post_submit{
    background-color: #2b2b2b;
    color: #fff;
    position: relative;
}

.tb_share_post_submit.tb_share_post_spinner{
    padding-right: 3rem;
    opacity: 0.6;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.tb_share_post_spinner:before {
    content: "";
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: auto;
    right: 1rem;
    width: 1.4rem;
    height: 1.4rem;
    margin-top: -0.70rem;
    border-radius: 50%;
    border: 2px solid #D1D3E0;
    border-right: 2px solid transparent;
    border: 2px solid #ffffff;
    border-right: 2px solid transparent;
    -webkit-animation: tb_share_animation-spinner 0.5s linear infinite;
    animation: tb_share_animation-spinner 0.5s linear infinite;
}

@-webkit-keyframes tb_share_animation-spinner {
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}
  
@keyframes tb_share_animation-spinner {
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}


.tb_share_post_submit:hover, .tb_share_post_cancel:hover{
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
}

.tb_share_post_error {
    margin-top: 10px;
    color: #db4b20;
    font-size: 12px;
    display: flex;
    align-items: center;
    font-weight: 400;
    border: 1px solid #db4b20;
    padding: 8px;
    border-radius: 3px;
}

.tb_share_post_error svg {
    width: 17px;
    margin-right: 8px;
    height: 17px;
}

.tb_share_post_succ_ico {
    width: 100px;
    margin: 30px auto;
  }
  
  .tb_share_post_suc_svg {
    stroke: #6ac259;
    stroke-dashoffset: 745.74853515625;
    stroke-dasharray: 745.74853515625;
    animation: dash 2s ease-out forwards;
  }
  
  @keyframes dash {
    0% {
      stroke-dashoffset: 745.74853515625;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
@media screen and (max-width: 767px) {
.tb_share_post_body {
    padding:40px 20px;
}
}