.tb_sp_post_container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.tb_sp_post_wrapper{
    width: 25%;
    padding: 7.5px;
}

.tb_sp_post_in{
    display: block;
    position: relative;
    cursor: pointer;
}

.tb_sp_post_media_wrapp{
    position: relative;
}

.tb_sp_post_details, .tb_sp_post_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
}
.tb_sp_post_overlay {
    z-index: 1;
}

.tb_sp_post_details {
    z-index: 2;
}

.tb_sp_post_in:hover .tb_sp_post_details {
    opacity: 1;
    visibility: visible;
}

.tb_sp_post_in:hover .tb_sp_post_overlay {
    opacity: 0.8;
    visibility: visible;
}

.tb_sp_contant_wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
}

.tb_sp_image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(255,255,255,.2);
}

.tb_sp_author {
    width: calc(100% - 30px);
}

.tb_sp_author_profile {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-shrink: 0;
    background-color: rgba(0,0,0,.2);
}

.tb_sp_authorname {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 4px;
    color: #ffffff;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tb_sp_author {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.tb_sp_author_wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 10px;
}

.tb_sp_author_info {
    overflow: hidden;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    width: calc(100% - 54px);
    padding-right: 10px;
}

.tb_sp_post_info {
    display: flex;
    align-items: center;
}

.tb_sp_seprator {
    height: 4px;
    width: 4px;
    min-width: 4px;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 0 6px;
    opacity: 0.8;
    display: flex;
    flex-shrink: 1;
}

.tb_sp_username, .tb_sp_time {
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    color: #ffffff;
    font-weight: 500;
    opacity: 0.8;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tb_sp_username{
    max-width: 65%;
}

.tb_sp_time{
    max-width: 35%;
}

.tb_sp_social_ {
    font-size: 24px;
    color:#fff;
}

.tb_sp_content {
    font-size: 14px;
    color: #fff;
    word-break: break-word;
    text-align: center;
    white-space: pre-line;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    text-overflow: ellipsis;
    width: 100%;
}

.tb_sp_content .tb_text_links_{
    color: inherit !important;
    text-decoration: underline !important;
    display: inline;
}

.tb_sp_post_in:hover .tb_share_wrapper{
    opacity: 1;
    visibility: visible;
}


.tb_sp_video_ico {
    position: absolute;
    right: 12px;
    top: 12px;
    z-index: 2;
    color: #fff;
    font-size: 12px;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,.4));
}

.tb_sp_multi_images_ico {
    position: absolute;
    right: 12px;
    top: 12px;
    color: #fff;
    font-size: 17px;
    z-index: 2;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,.4));
}

.tb_sp_multi_images_ico_bottom {
    position: absolute;
    right: 12px;
    bottom: 12px;
    color: #fff;
    font-size: 17px;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,.4));
}

.tb_sp_youtube_ico {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
}