
.tb-airbnb {
    color: #ff385c;
}

.tb-flickr {
    color: #006ADD;
}

.tb-twitter {
    color: #29a9e1;
}
.tb-linkedin {
    color: #0a66c2;
}
.tb-instagram {
    color: #E2306C;
}

.tb-facebook {
    color: #1b74e4;
}

.tb-google {
    color: #4081ED;
}

.tb-rss {
    color: #f78422;
}

.tb-youtube {
    color: #FF0000;
}

.tb-vimeo {
    color: #1eb8eb;
}

.tb-workplace {
    color: #4767AB;
}

.tb-tumblr {
    color: #36465d;
}

.tb-yelp {
    color: #be362e;
}

.tb-yammer {
    color: #0078D4;
}

.tb-slack {
    color: #510d4e;
}

.tb-airbnb {
    color: #FF7977;
}

.tb-giphy {
    color: #000000;
}

.tb-soundcloud {
    color: #FC5502;
}

.tb-pinterest {
    color: #E60022;
}

.tb-onsite-upload{
    color: #613983;
}

.tb-vk{
    color: #0077ff;
}