.tb_wall_custom_header_wrap__{
    display: block;
    height: auto;
    width: 100%;
}

.tb_header_img_{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}